# .gitignore

# Ignore node_modules and build directories for the frontend
Client/node_modules/
Client/dist/
Client/dist-ssr/
Client/.vite/

# Ignore environment files for the frontend
Client/.env
Client/.env.local
Client/.env.development.local
Client/.env.test.local
Client/.env.production.local

# Ignore log files for the frontend
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*

# Ignore build output and user-specific files for the backend
Api/bin/
Api/obj/
Api/.vs/
Api/.vscode/

# Ignore environment files for the backend
Api/*.env
Api/*.env.*

# Ignore log files for the backend
Api/*.log

# Ignore system files
.DS_Store
Thumbs.db
